---
layout: base
title: Vértes Könyvtár | Kezdőlap
---

{% for post in paginator.posts %}
    <article class="entry">
        <header class="entry_header">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <span class="entry_meta">
                <time>
                <i class="far fa-clock"></i>
                {{ post.date | date: "%Y " }}
                {% assign m = post.date | date: "%-m" %}
                {{ site.months[m] }}
                {{ post.date | date: "%d. %R" }}
                </time>
            </span>
        </header>
        <div class="entry_content">
            {{ post.content }}
        </div>
    </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<!-- Pagination links -->
<nav aria-label="Oldal navigáció">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Előző oldal</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Következő oldal</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}