---
layout: base
title: Vértes Könyvtár | Kezdőlap
---

{% for post in paginator.posts %}
    <article class="entry">
        <header class="entry_header">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <span class="entry_meta"><time>{{ post.date }}</time></span>
        </header>
        <div class="entry_content">
            {{ post.content }}
        </div>
    </article>
{% endfor %}

<!-- Pagination links -->
<nav aria-label="Oldal navigáció">
  <ul class="pagination justify-content-center>
    {% if paginator.previous_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Előző</a></li>
    {% endif %}
    {% if paginator.next_page %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Következő</a></li>
    {% endif %}
  </ul>
</nav>