---
---

@import "{{ site.theme }}";
@import "bootstrap";

#main_header {
    background-image: url("headers/${random(7)}.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 300px;
    margin-bottom: 2em;
}

@media all and (max-width: 1000px)
#main_header {
    height: 200px;
}


header h1 {
    position: relative;
    color: white;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: orange;
}

.entry_meta {
    color: #aaa;
    margin-bottom: 1em;
    font-size: 0.8em;
    line-height: 1.5em;
}

.entry_header h3 {
    margin: 0;
    color: orange;
}

.entry_content {
    font-size: 1em;
    color: #555;
}