<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- <meta name="viewport" content="width=device-width" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ page.title }}</title>

        <meta property="og:title" content="Irinyi János Városi Könyvtár - Létavértes"/>
        <meta property="og:site_name" content="Vértes Könyvtár" />
        <meta property="og:description" content="Az Irinyi János Városi Könyvtár oldala"/>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

        <meta name="keywords" content="könyvtár irinyi létavértes kassai vértes" />
        <meta name="description" content="Az Irinyi János Városi Könyvtár oldala" />
        <meta name="revisit-after" content="1 days" />
    </head>
    <body>

        <header id="main_header">
            <div class="container h-100">
                <div id="main_header_upper" class="row justify-content-center align-items-center">
                    <h1>Vértes Könyvtár</h1>
                </div>
                <div id="main_header_lower" class="row align-items-center justify-content-center">
                    <ul id="header_nav" class="nav justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link active" href="/">Kezdőlap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/services.html">Szolgáltatások</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/archive.html">Archívum</a>
                      </li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="main" class="container">{{ content }}</div>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-4">
                    <header class="footer_header"><h6>Nyitvatartás</h6></header>
                    <div class="footer_content"><b>Kedd-Péntek:</b> 8:00-12:00 | 13:00-17:00<br><b>Szombat:</b> 11:00-17:00</div>
                </div>
                <div class="col-4">
                    <header class="footer_header"><h6>Elérhetőségek</h6></header>
                    <div class="footer_content"><b>Cím:</b> 4283 Létavértes Kassai u. 8. <br><b>Tel:</b> +36 52 250 455<br><b>E-mail: </b><a href="mailto:verteskt@gmail.com">verteskt@gmail.com</a><br><b>Szabó Magda Olvasói Klub FB: <a href="https://www.facebook.com/groups/571023833089609/">link</a></b> <a href="">verteskt</a></div>
                </div>
                <div class="col-4">
                    <div class="iframe_container"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10805.247413779203!2d21.8674409!3d47.3863479!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x726a50c6fbb3294b!2zSXJpbnlpIErDoW5vcyBWw6Fyb3NpIEvDtm55dnTDoXI!5e0!3m2!1shu!2shu!4v1554274001878!5m2!1shu!2shu" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var randomNum = Math.floor(Math.random() * 7) + 1
        var header = document.querySelector('#main_header')
        var headerUpper = document.querySelector('#main_header_upper')
        var headerLower = document.querySelector('#main_header_lower')
        var main = document.querySelector('#main')
        header.style.backgroundImage = "url({{site.baseurl}}/headers/" + randomNum + ".jpg)"

        window.addEventListener("scroll", function (e) {
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 1000);
            
            if (w >= 1000) {
                var y = window.pageYOffset || document.documentElement.scrollTop,
                    jumpOn = 201;
                console.log(y);
                if (y > jumpOn) {
                    header.classList.add("smaller");
                    headerUpper.classList.add("smaller");
                    headerLower.classList.add("smaller");
                    main.classList.add("smaller");

                    if (!window.hasScrolled) {
                        window.hasScrolled = true;
                        console.log(y);
                        if (window.location.hash.length !== 0) {
                            window.scrollTo(window.scrollX, window.scrollY - 100);    
                        }
                    }
                } else {
                    if (header.classList.contains("smaller")) {
                        header.classList.remove("smaller");
                    }
                    if (headerUpper.classList.contains("smaller")) {
                        headerUpper.classList.remove("smaller");
                    }
                    if (headerLower.classList.contains("smaller")) {
                        headerLower.classList.remove("smaller");
                    }
                    if (main.classList.contains("smaller")) {
                        main.classList.remove("smaller");
                    }
                }
            }
        });
    </script>
</html>
