---
layout: default
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>

        <header id="main_header">
            <div class="container h-100">
                <div class="row h-75 justify-content-center align-items-center">
                    <h1>Vértes Könyvtár</h1>
                </div>
                <div class="row h-25 align-items-center justify-content-center">
                    <ul id="header_nav" class="nav justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Kezdőlap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Elérhetőség</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">{{ content }}</div>
        
    </body>
    <script>
        var randomNum = Math.floor(Math.random() * 7) + 1
        var header = document.querySelector('#main_header')
        header.style.backgroundImage = "url(headers/" + randomNum + ".jpg)"

        window.addEventListener("scroll", function (e) {
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 1000);
            
            if (w >= 1000) {
                var y = window.pageYOffset || document.documentElement.scrollTop,
                    jumpOn = 201;
                console.log(y);
                if (y > jumpOn) {
                    header.classList.add("smaller");

                    if (!window.hasScrolled) {
                        window.hasScrolled = true;
                        if (window.location.hash.length !== 0) {
                            window.scrollTo(window.scrollX, window.scrollY - 85);    
                        }
                    }
                } else {
                    if (header.classList.contains("smaller")) {
                        header.classList.remove("smaller");
                    }
                }
            }
        });
    </script>
</html>
